<h1>Forms bai 5</h1>
<h2>List product</h2>
<a [routerLink]="['/create']" routerLinkActive="router-link-active" >Create Product</a> <br>
<a [routerLink]="['/update']" routerLinkActive="router-link-active" >update Product</a>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>des</th>
        <th>delete</th>
        <th>edit</th>
    </tr>
    <tr *ngFor="let item of products">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.des}}</td>
        <td><a routerLink="delete/{{item.id}}">delete</a></td>
        <td><a routerLink="update/{{item.id}}">edit</a></td>
    </tr>
</table>
<!-- <button (click)="check()">aaa</button> -->
<router-outlet></router-outlet>
